/*
* @Author: 十年荣耀一如既往
* @Date:   2019-06-14 18:48:53
* @Last Modified by:   十年荣耀一如既往
* @Last Modified time: 2019-12-25 18:03:18
*/
*{
  padding: 0;
  margin: 0;
 }
ul,li{
  list-style: none;
  cursor: pointer;
}
body{
  background-color: #ccc;
}
.topp{
  height: 22px;
  background-color: #000;
}
.wenzi{
  color: #fff;
  margin-top: 0px;
  position: relative;
  right: -850px;
  overflow: hidden;
  text-align: center;
}
.box{
  width: 1200px;
  height: 397px;
  border: 1px solid #ccc;
  margin: 100px auto;
  position: relative;
  overflow: hidden;
}
.pictures{
  width: 12000px;
  position: absolute;
  left: -1200px;
}
.picture{
  width: 1200px;
  overflow: hidden;
  float: left;
  cursor: pointer;
}
.box>span{
  display: block;
  width: 30px;
  height: 50px;
  text-align: center;
  cursor: pointer;
  top: 160px;
  line-height: 50px;
  background: #fff;
  font-size: 30px;
  position: absolute;
  opacity: 0;
}
#left{
  left: 30px;
}
#right{
  right: 70px;
}
.lis{
  position: absolute;
  left: 450px;
  bottom: 20px;
}
.lis>li{
  float: left;
  width: 20px;
  height: 20px;
  background: #ccc;
  cursor: pointer;
  margin: 0 10px;
  border-radius: 50%;
  text-align: center;
}
#bbox{
  width: 300px;
  height: 322px;
  font-size: 14px;
  border-bottom: 1px solid #ccc;
  position: relative;
  overflow: hidden;
}
#text1,#text2{
  width: 300px;
  height: 380px;
  margin-left: 10px;
  float: left;
  font-size: 13px;
  color: red;
}
#bbox li{
  height:15px;
  line-height:15px;
  float: left;
  color: #800080;
}
#text{
  list-style-type: none;
  margin-top: 14px;
}
label,input,a {
  vertical-align: middle;
}
label {
  padding: 0 10px 0 5px;
}
dl {
  width: 200px;
  margin: 10px auto;
  padding: 10px 5px;
  border: 1px solid #666;
  border-radius: 5px;
  background: #F5F5DC;
}
dt {
  padding-bottom: 10px;
  border-bottom: 1px solid #666;
}
dt p {
  font-weight: 700;
}
p {
  margin-top: 10px;
}
.ki:hover{
  position: relative;
  margin-top: -80px;
  height: 228px;
  transition-duration:1.5s;
  cursor: pointer;
}
.ki{
  background-color: #F5F5DC;
  padding-left: 20px;
  padding-right: 20px;
  overflow: hidden;
}
.p1{
  font-size: 20px;
  font-weight: bolder;
}
.p2{
  font-size: 18px;
  color: red;
}
.p3{
  font-size: 10px;
  color: red;
}
.bottomdiv{
  height:250px;
  background-color:#191919;
  text-align: center;
  color:#757575 ;
}
.bottomdiv1{
  height:100px;
  height:100px;
}
.bottomdiv1>div{
  margin-top: 50px;
  width: 400px;
  height:50px;
  display:inline-block;
  line-height: 50px;
}
.bottomdiv1>p{
  display:inline-block;
}
.bottomdiv1A>p{
  display:inline-block;
}
.bottomdiv1A>ul{
  margin-left: 40px;
  display:inline-block;
}
.bottomdiv1B>p{
  display:inline-block;
}
.bottomdiv1B>ul{
  margin-left: 40px;
  display:inline-block;
}
.bottomdiv1T>p{
  display:inline-block;
}
.bottomdiv1T>ul{
  margin-left: 40px;
  display:inline-block;
}
.bottomdiv2{
  margin-top:20px;
  font-size:12px;
}